/* sticky footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  /* background image */
  .bg-image {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("/static/images/blind.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }

  /* header and footer text */
  nav li a, footer a, nav .brand-logo, i.fas.fa-bars {
    color: #455a64;
    text-shadow: 0 0 0.8px black;
  }
  
/* additional styling for text */
  p {
    color: #d7ccc8;
    font-size: 18px;
    text-shadow: 0 0 0.8px black;
  }

  h3 {
    color: #d7ccc8;
    text-shadow: 0 0 0.8px black;
}

form input {
  color: white;
}

.text-box {
  backdrop-filter: blur(10px);
}

/* flash text */
.alert {
  color: red;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 24px;
  text-align: center;
  text-shadow: 0 0 1px black;
}

/* remove the dot bug in company cards */
li {
  list-style-type: none;
}

.btn, .btn-large {
  border-radius: 50px;
}
