{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Add Blinds Company</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_company') }}">
      <div class="row">
        <div class="input-field col s12 center-align">
          <i class="fa-solid fa-sign-hanging prefix light-blue-text text-darken-4"></i>
            <input id="company_name" name="company_name" minlength="3" maxlength="25" type="text" class="validate" required>
            <label for="company_name">Company Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 center-align">
          <i class="fa-solid fa-location-dot prefix light-blue-text text-darken-4"></i>
          <input id="address" name="address" minlength="3" maxlength="150" type="text" class="validate" required>
          <label for="address">Address</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 center-align">
          <i class="fa-solid fa-map-marker-alt prefix light-blue-text text-darken-4"></i>
          <input id="location" name="location" minlength="3" maxlength="100" type="text" class="validate" required>
          <label for="location">Location</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 center-align">
          <i class="fa-solid fa-envelope prefix light-blue-text text-darken-4"></i>
          <input id="email" name="email" type="email" class="validate" required>
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 center-align">
          <i class="fa-solid fa-phone prefix light-blue-text text-darken-4"></i>
          <input id="phone_number" name="phone_number" minlength="10" maxlength="20" type="text" class="validate" required>
          <label for="phone_number">Phone Number</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 center-align">
          <i class="fa-solid fa-blinds prefix light-blue-text text-darken-4"></i>
          <input id="blinds_sold" name="blinds_sold" minlength="3" maxlength="200" type="text" class="validate" required>
          <label for="blinds_sold">Blinds Sold</label>
        </div>
      </div>
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-blue darken-1">
                    Add Company <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
  </div>

{% endblock %}