{% extends "base.html" %}
{% block content %}

<div class="text-box">
<h3 class="brown-text lighten-3 center-align">Add Blinds Company</h3>
</div>
<div class="row card-panel blue-grey darken-4">
    <form class="col s12" method="POST" action="{{ url_for('add_company') }}">
      <div class="row">
        <div class="input-field col s12 center-align">
          <i class="fa-solid fa-shop prefix light-blue-text text-darken-4"></i>
            <input id="company_name" name="company_name" minlength="3" maxlength="25" type="text" class="validate" required>
            <label for="company_name">Company Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 center-align">
          <i class="fa-solid fa-magnifying-glass-location prefix light-blue-text text-darken-4"></i>
          <input id="location" name="location" minlength="3" maxlength="100" type="text" class="validate" required>
          <label for="location">Location</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 center-align">
          <i class="fa-solid fa-location-dot prefix light-blue-text text-darken-4"></i>
          <input id="area" name="area" minlength="3" maxlength="100" type="text" class="validate" required>
          <label for="area">Area Coverage</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 center-align">
          <i class="fa-solid fa-envelope prefix light-blue-text text-darken-4"></i>
          <input id="email" name="email" type="email" class="validate" required>
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 center-align">
          <i class="fa-solid fa-phone prefix light-blue-text text-darken-4"></i>
          <input id="phone" name="phone" minlength="10" maxlength="20" type="number" class="validate" required>
          <label for="phone">Phone Number</label>
        </div>
      </div>
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large green accent-4 hoverable">
                    Add Company <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
  </div>

{% endblock %}