<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Blind Hunter</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon-blind.png') }}">
</head>

<body class="bg-image">
  <!-- navbar   -->
    <header>
        <nav class="blue-grey lighten-5">
            <div class="nav-wrapper">
              <a href="{{ url_for('home') }}" class="brand-logo">Blind Hunter</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('companies') }}">Companies</a></li>
                <li><a href="{{ url_for('reviews') }}">Reviews</a></li>
              </ul>
            </div>
          </nav>
  <!-- responsive navbar       -->
          <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('companies') }}">Companies</a></li>
            <li><a href="{{ url_for('reviews') }}">Reviews</a></li>
          </ul>
    </header>
    <!-- flash text dipslay area -->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class="container col s12 center-align">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
<!-- main area display -->
    <main class="container">
       {% block content %}
       {% endblock %}
    </main>
<!-- footer -->
    <footer class="footer blue-grey lighten-5">
        <div class="footer-copyright">
          <div class="container blue-grey-text darken-2">
          For educational purposes only
          <a class="blue-grey-text darken-2 right" href="https://codeinstitute.net" target="blank">&copy; Code Institute</a>
          </div>
        </div>
      </footer>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>