{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Blind Companies</h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_company') }}" class="btn-large light-blue darken-2">
            Add Company <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>
{% for company in companies %}
    <div class="col s12 m6 l3">
        <div class="card light-blue darken-4 center-align">
            <div class="card-content white-text">
                <span class="card-title">{{ company.company_name }}</span>
            </div>
            <div class="card-action">
                <a href="#" class="btn green accent-4">Edit</a>
                <a href="#" class="btn red">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}