{% extends "base.html" %}
{% block content %}

<div class="text-box">
<h3 class="brown-text lighten-3 center-align">Edit Review</h3>
</div>
<div class="row card-panel blue-grey darken-4">
    <form class="col s12" method="POST" action="{{ url_for('edit_review', review_id=review.id) }}">
      <div class="row">
        <div class="input-field col s12">
          <i class="fa-solid fa-file-pen prefix light-blue-text text-darken-4"></i>
            <input id="review_name" name="review_name" type="text" class="validate" value="{{ session['username'] }}" readonly>
            <label for="review_name">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="fa-solid fa-shop prefix light-blue-text text-darken-4"></i>
            <select id="company_id" name="company_id" class="validate" required>
              <option value="" disabled selected>Choose Company</option>
                    {% for company in companies %}
                        <option value="{{ company.id }}">{{ company.company_name }}</option>
                    {% endfor %}
            </select>
            <label for="company_id">Company</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="fa-regular fa-calendar prefix light-blue-text text-darken-4"></i>
            <input id="date" name="date" type="text" class="datepicker validate" required>
            <label for="date">Date</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="fa-solid fa-pen prefix light-blue-text text-darken-4"></i>
            <input id="description" name="description" minlength="3" maxlength="250" type="text" class="validate" required>
            <label for="description">Review</label>
        </div>
      </div>
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large green accent-4 hoverable">
                    Add Review <i class="fas fa-edit right"></i>
                </button>
            </div>
        </div>
    </form>
  </div>

{% endblock %}