{% extends "base.html" %}
{% block content %}

<!-- website desciption -->
<div class="text-box">
<h3 class="center-align">Welcome To Blind Hunter</h3>
<p>Welcome to Blind Hunter where we have selected all the top rated Blind Companies in the country.
    We have simplified the searching process to take the hassle out for you. We have also teamed up 
    with these companies to offer you a <i>FANTASTIC</i> deal!
    If you <i>REGISTER</i> with us and email the company through our website you can qualify for an
    additional <b class="btn-floating btn-small pulse">20%</b> off your bill with the company you choose.</p>
    <div class="row">
        <div class="col s12 center-align">
        <p>So please <i>REGISTER</i> now to save some
        <i class="fa-solid fa-sterling-sign"></i>
        <i class="fa-solid fa-sterling-sign"></i>
        <i class="fa-solid fa-sterling-sign"></i>
        <i class="fa-solid fa-exclamation"></i></p>
        </div>
    </div>
</div> 
<div class="row">
    <!-- display if logged in or not -->
    <div class="col s12 center-align">
        {% if session.username %}
        <p>Hello, {{ session.username }}!</p>
        <a href="{{ url_for('logout') }}" class="btn green accent-4 hoverable">Sign Out</a>
        {% else %}   
        <a href="{{ url_for('register') }}" class="btn green accent-4 hoverable">
        Register</a>
        <a href="{{ url_for('login') }}" class="btn green accent-4 hoverable">
        Sign In</a>
        {% endif %}
    </div>
</div>


{% endblock %}