{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Register</h3>

<div class="row">
    <div class="col s12 center-align">
        <form method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br>
            <label for="role">Role:</label>
            <select id="role" name="role">
                <option value="user">User</option>
                <option value="admin">Admin</option>
            </select><br>
            <button type="submit" class="btn green accent-4">Register</button>
        </form>
    </div>
</div>

{% endblock %}